/*! gitpresse.css v2.0.1 | MIT License | http://git.io/1TOgtg */

.gitpresse-toolbar {
	position:fixed;
	top:0;
	right:20px;
	background: transparent no-repeat;
	-webkit-box-shadow: 0px 1px 2px 0px #666;
	box-shadow: 0px 1px 2px 0px #666;
	z-index:999999;
}

.gitpresse-toolbar #gitpresse-logo {
	display:block;
	position:absolute;
	left:15px;
	top:5px;
	width: 70px;
	height:20px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAAAUCAMAAAAHtrtKAAAAM1BMVEXw8PD////////////6+vr////////y8vL////////////29vb///////8AAADv7+////8KVhBRAAAAD3RSTlPuUI9ws0Bg26B/IMcwEADk3EIeAAABhElEQVR42q2U23IjIQxEGe6gC/r/r90GTLFx8uJU9NBDtdARYsZ2+h5dfxHfMcXxp5DwfMfYYE1WP6A06z9gksqwgOnczyy+uqIb/T9UbvzKeyMsyJomgZF1x9MEWo3k6LK8+YthZ5RXTTAz59HEpUhl4gJbVyGzgkJk/daXdTErGyR2jDM5mAbaSIpNnDhTLCkA06ymuvVYKR9MRzlyElCjzhgW9ggQaNaqMySj1jbp/PStx7ovvFoEqiqBxvPsUOPZFNAoXPoYkougtalulZd1MWJDpKAOT3QKCxwAtsTmZA0dfZUFaH3rsS4GrlQMwPNWoqXVal7uvIW8v42Ian5Gsa5Lj/XlNJnIAnDPLIaTzc9JRQk4RAZbGtp00z71WHIxsKo4ExWSmc4tReNEeW6IewcVH8UXjUWXHuvtN/Xc77+3LnYSwq9FwqJRHLz1WG8Ysg69UK8/RQ796I6LuYe54e35zR8FjyHXXNf8KYZFwtjDXgx9jJE6LPJX+2mfYv4k/gGbRESvw4R4hwAAAABJRU5ErkJggg==);
}

.gitpresse-invisible {
	visibility:hidden
}


/* Themable properties */

.gitpresse-toolbar {
	width:100px;
	height:30px;
	background-color:#555;
	border:solid 1px #333;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

[contenteditable]:hover  {
	outline: dotted 4px rgba(255,0,0,0.6) ; 
}

[contenteditable]:focus {
	outline: dotted 4px rgba(255,0,0,0.6) ; 
}